@use '../components/shared';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: 100%/1em;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: latienne-pro;
  color: #ffffff;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: latienne-pro;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: europa;
  line-height: 2rem;
  color: #b7b7b7;
}

h4 {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: europa;
  color: #b7b7b7;
}

p {
  font-size: 1.1rem;
  font-weight: normal;
  font-family: europa;
  line-height: 1.7rem;
}

a {
  // font-size: 1.2rem;
  // line-height: 1.5rem;
  // font-weight: normal;
  // font-family: europa;
  color: shared.$gold;
}

.background-shape {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 296vh;
  max-width: none;
  background-image: url("../images/curved-shadow.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 30% -300px;
}

.contact-icon {
  position: fixed;
  right: 20px;
  bottom: 0px;
  width: 60px;
  cursor: pointer;
  z-index: 2;
}

/* Hello Section */

.top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0px;
  left: 0;
}

#hello {
  .biz-intro {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 60px;
    font-family: latienne-pro;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #fff;
    font-weight: 500;

    @include shared.media-up(tablet) {
      max-width: 70vw;
    }
  }

  .recent-work-button {
    position: absolute;
    bottom: 60px;
    right: 60px;
  }
}

/* What We Do Section */

/* recent work section */

#portfolio {
  .project-preview-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;

    .project-preview {
      display: flex;
      align-items: center;

      .project-preview-name {
        width: 100%;
        text-align: center;
        font-family: latienne-pro;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1rem;
      }

      &:nth-child(1), &:nth-child(3) {
        border-right: shared.$dividing-border;
      }
      &:nth-child(1), &:nth-child(2) {
        border-bottom: shared.$dividing-border;
      }
    }
  }
}

/* Get To Know Us section */

#about {
  padding-top: 40px;

  .about-content {
    @include shared.media-down(mobile) {
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;

    .about-person {
      display: flex;
      flex-direction: column;
      padding: 40px;
      margin-bottom: 3rem;

      .about-person-image-name-role {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;

        .about-profile-image-wrapper {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-right: 40px;
        }

        .about-profile-image-wrapper img {
          border-radius: 50%;
        }

        .about-person-name-role {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .about-images {
    .about-image-wrapper {
      max-width: 500px;
      // background-color: #ffffff;
      border-radius: 4px;

      img {
        padding: 40px;
        border-radius: 4px;
      }

      &.right img {
        transform: rotate(6deg);
      }
      &.left img {
        transform: rotate(-6deg);
      }
    }
  }
}

/* Lets Work Together section */
#connect {
  margin-bottom: 4rem;
  .contact-button a {
    border: 1.5px solid pink;
    color: pink;
    font: normal 0.9rem europa;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
  }
  .contact-text {
    color: hsla(0, 0%, 100%, 0.8);
    margin-bottom: 3rem;
  }

  .contact-emails-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-button {
    line-height: 4.5rem;
    a {
      border: 1.5px solid pink;
      color: pink;
      font: normal 1.2rem europa;
      text-decoration: none;
      padding: 16px 20px;
      border-radius: 4px;
    }
  }
}

// Footer Section

.footer {
  font: normal 1.2rem europa;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;

  .footer-title {
    margin-bottom: 10px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .see-our-work-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;

    .github-icon {
      width: 30px;
      height: 30px;
      padding: 10px;
      margin-left: -10px;
      box-sizing: content-box;
      cursor: pointer;
    }
  }

  .say-hi-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    .contact-emails-wrapper {
      display: flex;
      flex-direction: row;
      @include shared.media-down(mobile) {
        flex-direction: column;
      }
      .contact-email {
        color: #ffffff;
        margin: 10px;
      }
    }
  }
}

// @include shared.media-down(mobile) {
//   height: 50vh;
// }

// .mouse-icon {
//   @include horizontal-align(absolute);
//   top: auto;
//   bottom: 50%;
//   height: 100px;
//   width: 35px;
//   opacity: 1;
//   transition: opacity 0.3s ease;

//   @include shared.media-down(mobile) {
//     height: 75px;
//     width: 25px;
//   }

//   @keyframes mouse-bob {
//     0% {
//       transform: translateY(50%) translateX(-50%);
//     }
//     50% {
//       transform: translateY(60%) translateX(-50%);
//     }
//     100% {
//       transform: translateY(50%) translateX(-50%);
//     }
//   }
// }
