@use '../components/shared';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: 100%/1em;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: latienne-pro;
  color: #ffffff;
  line-height: 3.2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: latienne-pro;
  line-height: 2.7rem;
}

h3 {
  font-size: 2.1rem;
  font-weight: 600;
  font-family: latienne-pro;
  line-height: 2.2rem;
  color: #ffffff;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: latienne-pro;
  color: #b7b7b7;
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: latienne-pro;
  color: #b7b7b7;
}

p {
  font-size: 1rem;
  font-weight: normal;
  font-family: europa;
  line-height: 1.5rem;
}

a {
  // font-size: 1.2rem;
  // line-height: 1.5rem;
  // font-weight: normal;
  // font-family: europa;
  color: shared.$gold;
}

.background-shape {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 296vh;
  max-width: none;
  background-image: url("../images/curved-shadow.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 30% -300px;
}

.contact-icon {
  position: fixed;
  right: 20px;
  bottom: 0px;
  width: 60px;
  cursor: pointer;
  z-index: 2;
}

/* Inner Sections */

.bi-section {
  width: 50%;
  padding: 40px;
}

/* Hello Section */

.top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0px;
  left: 0;
}

#hello {
  .hello-compass {
    position: absolute;
    // width: ;
    width: 20vw;
    height: 20vw;
    bottom: 10%;
    left: 10%;
    background-image: url("../images/compass.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hello-willow {
    position: absolute;
    height: 70%;
    width: 100%;
    // height of section header
    top: -119px;
    right: 0;
    background-image: url("../images/willow-branch.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    opacity: 0.1;
  }

  .hello-spruce {
    position: absolute;
    height: 30%;
    width: 100%;
    // height of section header
    top: -119px;
    right: 0;
    background-image: url("../images/spruce-branch-hello.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    opacity: 0.1;
  }

  .biz-intro {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 60px;
    font-family: latienne-pro;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #fff;
    font-weight: 500;

    @include shared.media-up(tablet) {
      max-width: 70vw;
    }
  }

  .recent-work-button {
    position: absolute;
    bottom: 60px;
    right: 60px;
  }
}

/* What We Do Section */

/* recent work section */

#portfolio {
  .project-preview {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;

    .project-preview-name {
      width: 100%;
      text-align: center;
    }

    .project-preview-deliverable {
      position: absolute;
      top: 30px;
      right: 30px;
      color: #b7b7b7;
      text-transform: uppercase;
      font-family: europa;
      font-weight: bold;
    }

    .project-preview-image-wrapper {
      padding: 1rem;
      position: absolute;
      background-color: #343434;
      opacity: 0;
      transition: opacity 0.3s ease;
      width: 100%;
      height: 100%;
    }

    .project-preview-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &:hover .project-preview-image-wrapper {
      opacity: 1;
    }
  }

  // acorn
  .quadrant:nth-child(1) .project-preview-image {
    background-image: url("../images/work-acorn-hover.png");
  }
  // red cat bakery
  .quadrant:nth-child(2) .project-preview-image {
    background-image: url("../images/work-red-cat-hover.png");
  }
  // fouladi projects
  .quadrant:nth-child(3) .project-preview-image {
    background-image: url("../images/work-fouladi-projects-hover.png");
  }
  // online writing workshop
  .quadrant:nth-child(4) .project-preview-image {
    background-image: url("../images/work-oww-hover.png");
  }
}

// focus section

#focus {
  .focus-quadrant {
    padding: 40px 25% 40px 40px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 70%;
  }

  .quadrant:nth-child(1) .focus-quadrant {
    background-image: url("../images/davinci.png");
    background-position: right center;
  }
  .quadrant:nth-child(2) .focus-quadrant {
    background-image: url("../images/mushroom.png");
    background-position: 120% center;
  }
  .quadrant:nth-child(3) .focus-quadrant {
    background-image: url("../images/solar.png");
    background-position: right bottom;
    background-size: auto 60%;
  }
  .quadrant:nth-child(4) .focus-quadrant {
    background-image: url("../images/waterbottle.png");
    background-position: right center;
  }
}

/* Get To Know Us section */

#about {
  .about-content {
    @include shared.media-down(mobile) {
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;

    &:nth-child(1) {
      border-right: 1px solid rgba(214, 214, 214, 0.2);
    }

    .about-person {
      display: flex;
      flex-direction: column;

      .about-title {
        margin-bottom: 1rem;
      }

      .about-description {
        overflow-y: scroll;
        height: 400px;
      }

      .about-person-image-name-role {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5rem;

        .about-profile-image-wrapper {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-right: 40px;
        }

        .about-profile-image-wrapper img {
          border-radius: 50%;
        }

        .about-person-name-role {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .about-images {
    .about-image-wrapper {
      max-width: 500px;
      // background-color: #ffffff;
      border-radius: 4px;

      img {
        padding: 40px;
        border-radius: 4px;
      }

      &.right img {
        transform: rotate(6deg);
      }
      &.left img {
        transform: rotate(-6deg);
      }
    }
  }
}

/* Lets Work Together section */
#connect {
  margin-bottom: 4rem;
  .contact-button a {
    border: 1.5px solid pink;
    color: pink;
    font: normal 0.9rem europa;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
  }

  .contact-content {
    display: flex;

    .contact-text {
      color: hsla(0, 0%, 100%, 0.8);
      margin-bottom: 3rem;
    }
  }

  .contact-emails-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-button {
    line-height: 4.5rem;
    a {
      border: 1.5px solid pink;
      color: pink;
      font: normal 1.2rem europa;
      text-decoration: none;
      padding: 16px 20px;
      border-radius: 4px;
    }
  }
}

// Footer Section

.footer {
  font: normal 1.2rem europa;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;

  .footer-title {
    margin-bottom: 10px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .see-our-work-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;

    .github-icon {
      width: 30px;
      height: 30px;
      padding: 10px;
      margin-left: -10px;
      box-sizing: content-box;
      cursor: pointer;
    }
  }

  .say-hi-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    .contact-emails-wrapper {
      display: flex;
      flex-direction: row;
      @include shared.media-down(mobile) {
        flex-direction: column;
      }
      .contact-email {
        color: #ffffff;
        margin: 10px;
      }
    }
  }
}

// @include shared.media-down(mobile) {
//   height: 50vh;
// }

// .mouse-icon {
//   @include horizontal-align(absolute);
//   top: auto;
//   bottom: 50%;
//   height: 100px;
//   width: 35px;
//   opacity: 1;
//   transition: opacity 0.3s ease;

//   @include shared.media-down(mobile) {
//     height: 75px;
//     width: 25px;
//   }

//   @keyframes mouse-bob {
//     0% {
//       transform: translateY(50%) translateX(-50%);
//     }
//     50% {
//       transform: translateY(60%) translateX(-50%);
//     }
//     100% {
//       transform: translateY(50%) translateX(-50%);
//     }
//   }
// }
