.header-wrapper {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "CircularStd-Book";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.6s ease-in 0s;
  position: fixed;
  z-index: 2;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.header-wrapper.header-hidden {
  transform: translate(-50%, -100%);
  opacity: 0;
}
.header-wrapper.header-off-top {
  background: rgba(0, 0, 0, 0.2);
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  color: #a4ce9d;
}

.header-item {
  margin-left: 40px;
  cursor: pointer;
  font-size: 18px;
}
