@use "./shared";

$nav-width: 112px;

nav {
  position: fixed;
  height: 100vh;
  text-align: right;
  box-sizing: border-box;
  border-right: shared.$dividing-border;
  width: $nav-width;
  padding: 10px;
  z-index: 2;

  @include shared.media-down(mobile) {
    display: none !important;
  }

  a.logo-image-link {
    display: block;
    width: 86px;
    margin: auto;
  }

  ul {
    margin-left: 0;
    flex: 1;
  }

  li {
    list-style: none;
    margin-top: 3rem;

    a {
      text-decoration: none;
      color: shared.$offwhite;
      font-family: europa;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: shared.$gold;
      }
    }
  }
}

.social-icon {
  position: fixed;
  
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  &.github {
    left: 70px;
    bottom: 20px;
  }

  &.twitter {
    left: 28px;
    bottom: 20px;
  }
}
