@use './shared';

.section {
  position: relative;
  padding-top: 110px;

  // because mobile is currently the breakpoint where the left menu disappears
  @include shared.media-up(mobile) {
    padding-left: 111px;
  }

  @include shared.media-up(tablet) {
    height: 100vh;
  }

  &#focus {
    height: auto;
    .section-body {
      height: auto;
    }
  }

  .section-heading {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    border-top: shared.$dividing-border;
    border-bottom: shared.$dividing-border;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 0;

    // hero / home
    span {
      color: #44584e;
    }
  }

  .section-body {
    @include shared.media-up(tablet) {
      height: calc(100vh - 110px);
    }
    position: relative;
  }
}

// EXCEPTIONS

#hello {
  height: 100vh;

  .section-body {
    height: calc(100vh - 110px);
  }
}

#hello .section-heading {
  font-size: 4rem;
  z-index: 1;

  .left-adjust-heading {
    margin-left: -13rem;
  }
}
